
{
    background-color: rgb(224, 224, 14);
    color: rgb(19, 221, 221);
}
header
{
    color: brown;
    font-size: xx-large;
    text-align: center;
    font-family:cursive 
}

{
    text-align: center;
}
h1
{
color: rgb(255, 72, 0);
text-align: left;
font-family: cursive
}
h2
{
    color: rgb(255, 0, 0);
    text-align: left;
}
footer
{
    background-color: aquamarine;
    color: black;

}